button{
    color: rgb(1, 17, 1);
    PADDING: 10PX;
    width: 165px;
    background-color: rgb(244, 247, 244);

}


#first{
    color: rgb(60, 12, 236);
}
#second{
    color: rgb(60, 12, 236);
}
#third{
    color: rgb(60, 12, 236);
}